.containerzao {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.container {
    box-sizing: border-box;
    width: 1100px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    
}

img {
    width: 450px;
}

.botao {
    margin-top: 40px;
    margin-right: 100px;
}

button {
    height: 45px;
    width: 160px;

    background-color: rgb(67, 176, 58);
    border-radius: 5px;
    font-weight: 1000;
    color: white;

    border: none;
}

.divLetraDesativada {
    width: 50px;
    height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: lightgray;
    color: gray;

    margin-right: 8px;
    margin-bottom: 8px;

    border-radius: 6px;

}
.divLetraAtivada {
    width: 50px;
    height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgb(45, 137, 211);
    color: rgb(1, 18, 49);

    margin-right: 8px;
    margin-bottom: 8px;

    border-radius: 6px;

}
.letraVermelha{
    width: 50px;
    height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: lightgray;
    color: gray;

    margin-right: 8px;
    margin-bottom: 8px;

    border-radius: 6px;
}

.teclado {
    width: 810px;

    margin-right: auto;
    margin-left: auto;
    margin-top: 70px;

    display: flex;
    flex-wrap: wrap;
}

.none{
    display: none;
}
.underlines{
    font-size: 40px;
    font-weight: 900;
}
.underlinesGanhou{
    font-size: 40px;
    font-weight: 900;
    color: green;
}
.underlinesPerdeu{
    font-size: 40px;
    font-weight: 900;
    color: red;
}
.margintop{
    margin-top: 300px;
    
}
.rodape{
    margin-top: 30px;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
}